<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div class="header">
        <span class="title">
            <h1>Blood Bank</h1>
        </span>
    </div>
    {{{body}}}
</body>
</html>