<div class="find">
    <form action='/find' method="POST">
        <table>
            <tbody>
                <tr>
                    <th>Blood Group</th>
                    <td>
                        <select name="type" value="-1" aria-placeholder="Select Blood Group">
                            <option value="-1">Select Blood Group</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</opB+tion>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="FIND"/>
                    </td>
                    <td>
                        <input type="reset" value="CLEAR"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>